@import '../../Variables.scss';
@import '../../Global.scss';

.navigation-container {
  background-color: #FFFFFF;
  position: relative;

  .navigation {
    position: relative;
    margin: auto;
    padding: 0.4rem 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    font-size: 125%;

    .item {
      padding: 0.4rem 0.4rem;
      margin: 10px;
      cursor: pointer;
      text-decoration: none;
      color: $letter_color;

      &:after {
        display: block;
        content: '';
        border-bottom: 2px solid $salmon;  
        transform: scaleX(0);  
        transition: transform $transition-time ease-in-out;
      }

      &:hover:after {
        transform: scaleX(1);
      }

      &.active:after {
        //border-bottom: 2px solid $salmon;
        transform: scaleX(1);
      }
    }
  }

  .hamburger-icon {
    margin: 1rem auto;
    font-size: 180%;
    color: $dark-salmon;
    display: none;
    cursor: pointer;
  }

  .slideIn {
    display: flex;
    animation-duration: 0.5s;
    animation-name: slidein;
  }

  // SM Screen
  @media screen and (max-width: $sm-max) {
    .navigation {
      max-width: 95%;
      flex-direction: column;
      display: none;

      .item {
        margin: auto;
      }
    }

    .hamburger-icon {
      display: block;
    }
  }

  // MD Screen
  @media screen and (min-width: $md-min) and (max-width: $md-max) {
    .navigation {
      max-width: 95%;
      flex-direction: column;
      display: none;

      .item {
        margin: auto;
      }
    }

    .hamburger-icon {
      display: block;
    }
  }

  // LG Screen
  @media screen and (min-width: $lg-min) and (max-width: $lg-max) {
    .navigation {
      max-width: 95%;
      display: flex !important;
    }
  }

  // XL Screen
  @media screen and (min-width: $xl-min) and (max-width: $xl-max) {
    .navigation {
      max-width: 70%;
      display: flex !important;
    }
  }

  //XXL Screen
  @media screen and (min-width: $xxl) {
    .navigation {
      max-width: 50%;
      display: flex !important;
    }
  }
}