@import '../../../Variables.scss';

.item-wrapper {
  width: 50%;
  margin: 1.75rem auto;
  //border: 1px solid $lightest_grey;
  border-radius: 20px;
  box-shadow: 0px 0px 15px 0px $lightest_grey;
  cursor: default;
  
  .header-wrapper {
    display: flex;
    padding: 1.25rem;
    justify-content: space-between;
    background-color: $salmon;
    border-radius: 20px 20px 0 0;

    .title {
      font-size: 125%;
    }
  }

  .description {
    padding: 1.25rem;
    margin: 0;
  }
  .price {
    display: flex;
    padding: 1.25rem;
    font-size: 110%;
  }
}