@import '../../Variables.scss';

.navigation-container {
  background-color: $salmon;

  .navigation {
    margin: auto;
    width: 70%;
    padding: 0.4rem 0;
    
    display: flex;
    list-style: none;
    justify-content: space-between;
    font-size: 125%;

    .item {
      padding:0.4rem 0;
      display: inline-block;
      cursor: pointer;

      &:after {
        display: block;
        content: '';
        border-bottom: 2px solid $letter_color;  
        transform: scaleX(0);  
        transition: transform $transition-time ease-in-out;
      }

      &:hover:after {
        transform: scaleX(1);
      }
    }
  }
}