@import '../../Variables.scss';

.navigation-container {
  .navigation {
    margin: auto;
    width: $body-width;
    padding: 0.4rem 0;
    
    display: flex;
    list-style: none;
    justify-content: space-between;
    font-size: 125%;

    .item {
      padding:0.4rem 0;
      display: inline-block;
      cursor: pointer;

      a {
        text-decoration: none;
        color: $letter_color;
      }

      &:after {
        display: block;
        content: '';
        border-bottom: 2px solid $salmon;  
        transform: scaleX(0);  
        transition: transform $transition-time ease-in-out;
      }

      &:hover:after {
        transform: scaleX(1);
      }

      &.active a{
        border-bottom: 2px solid $salmon;
      }
    }
  }
}