// Colors
$salmon: #F1DAD2;
$letter_color: #3d3d3d;
$white_background: #f8f8f8;
$light_grey: #636363;
$lightest_grey: #9b9b9b;

//Variables
$transition-time: 0.3s;
$body-width-xl: 70%;

// Media Query Breakpoints
$xxl: 1201px;
$xl-max: 1200px;
$xl-min: 1025px;
$lg-max: 1024px;
$lg-min: 769px;
$md-max: 768px;
$md-min: 481px;
$sm-max: 480px;